.header {
    
    width: 1440px;
    height: 700px;
    background-color: var(--primary-color-midnight-green);
    background-image: 
    url(../images/bg-pattern-home-1.svg),
    url(../images/bg-pattern-home-2.svg);
    background-repeat: no-repeat, no-repeat;    
    background-position: 
    top 250px left -100px,
    bottom  right 165px;
}

.navbar {
    
    width: 110px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 57.7rem;
    padding-top: 7.7rem;
    padding-left: 16.5rem;
    margin-bottom: 12.9rem;
}
.nav-left {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 80px;
}
.nav-img {
    width: 160px;
    height: 40px;
}
.nav-left-ul {
    display: flex;
    gap: 40px;
    list-style: none;
}
.nav-left-list {
    text-decoration: none;
}
.nav-left-list-link {
    color: var(--primary-color-white);
}
.button {
    background-color: transparent;
    border: none;
}
.normal-state-light-btn {
}

.navbar-hamburger {
    display: none;    
}

.humburger {
    display: none;
}



.header-main {
   
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    align-items: end;
    padding-top: 40px;
    padding-left: 165px;
    padding-right: 165px;
    gap: 60px;
}
.header-main-h1 {
    width: 605px;
    height: 200px;    
    font-weight: 700;
    font-size: 100px;
    line-height: 100px;
    color: var(--primary-color-white);
    margin-top: 0;
    margin-bottom: 0;
}
.header-main-h1-item {
    color: var(--primary-color-coral);
}
.header-main-text {
    width: 445px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: var(--primary-color-white);
}

.hr {
    position: absolute;
    border-bottom: none;    
    top: 25rem;
    left: 83rem;
    width: 5rem;
    border-top: 0.4rem solid var(--secondary-color-raptute-blue);
}

.section-one {
    background-image: 
    url(../images/bg-pattern-home-3.svg);    
    background-repeat: no-repeat;    
    background-position:     
    bottom  right -100px;
    
    width: 1440px;
    height: 684px;
    background-color: var(--secondary-color-state-green);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 14rem 16.5rem;
}
.section-one-left {
    position: relative;
    padding-top: 5.8rem;
    width: 445px;
}
.section-one-left-h1 {
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 1;
    color: var(--primary-color-white);
}
.section-one-right {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 2.2rem;
    align-items: center;
}
.section-one-right-top {
}
.section-one-right-h1 {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.55;
    color: var(--primary-color-coral);
}
.section-one-right-text {
    width: 445px;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.66;
    color: var(--primary-color-white);
}

.section-hr {
    position: absolute;
    border-bottom: none;    
    top: 0;
    left: 0;
    width: 5rem;
    border-top: 0.4rem solid var(--primary-color-coral);
}

.section-two {
    width: 1440px;
    height: 745px;
    background-color: var(--secondary-color-jungle-blue);
    background-image: 
    url(../images/bg-pattern-home-4-about-3.svg),
    url(../images/bg-pattern-home-5.svg);
    background-repeat: no-repeat, no-repeat;    
    background-position: 
    top left,
    bottom  right;
    padding: 16.5rem 14rem;
}
.section-two-h1 {
    width: 932px;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 1;
    color: var(--primary-color-white);
    text-align: center;
    margin-bottom: 5.6rem;
}
.section-two-h1-text {
    color: var(--secondary-color-raptute-blue);
}
.section-two-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}
.section-two-wrapper-item {
    background-image: 
    url(../images/icon-quotes.svg);
    background-repeat: no-repeat;
    background-position: top center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
}
.section-two-wrapper-item-text {
    padding-top: 3.6rem;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.66;
    color: var(--primary-color-white);
    text-align: center;
    margin-bottom: 2.4rem;
}
.section-two-wrapper-item-name {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.55;
    color: var(--secondary-color-raptute-blue);
    text-align: center;
    margin-bottom: 0.2rem;
}
.section-two-wrapper-item-title {
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.38;
    font-style: italic;
    color: var(--primary-color-white);
    text-align: center;
    margin-bottom: 3.2rem;
}
.section-two-img {

}
.section-two-img-link {
    width: 62px;
    height: 62px;
    border: 2px solid #C4FFFE;
    border-radius: 50%;
}

/* SECTION THREE */

.section-three {
    width: 1440px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: 
    url(../images/bg-pattern-home-6-about-5.svg);    
    background-repeat: no-repeat;    
    background-position:     
    bottom  left;
    background-color: var(--primary-color-coral);
}
.section-three-main {
    width: 917px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-three-h1 {
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 1;
    color: var(--secondary-color-state-green);
}
.section-three-btn {
    background-color: transparent;
    border: none;
}
.normal-state-dark-btn {
}

/* FOOTER */

.footer {
    width: 1440px;
    height: 196px;
    background-color: var(--secondary-color-dark-green);
    padding: 4.8rem 16.5rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}
.footer-one {
    grid-column: 1/3;
    grid-row: 1/4;
}
.footer-one .nav-img {
    margin-bottom: 2.4rem;
}
.nav-left-ul {
}
.nav-left-list {
}
.nav-left-list-link {
}
.footer-two {
    grid-column: 4/7;
    grid-row: 1/3;
}
.footer-text {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.66;
    color: var(--primary-color-white);
    opacity: 60%;
}
.footer-phone {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.footer-text-link {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.66;
    color: var(--primary-color-white);
    opacity: 60%;
}
.footer-three {
    display: flex;
    gap: 1.6rem;
    grid-column: 13/15;
    
}

.footer-three-img:hover path {
    fill: var(--primary-color-coral)
}


.footer-four {
    grid-column: 10/15;
    grid-row: 2/13;
    justify-self: right;
    align-self: end;
}