@media (max-width: 375px) {
    .header {
        width: 375px;
        height: 567px;
        background-color: var(--primary-color-midnight-green);
        background-image: 
        none,
        url(../images/bg-pattern-home-2.svg);
        background-repeat: no-repeat;  
        background-size: none, cover;  
        background-position: 
        top 250px left -100px,
        bottom  right 50%;
    }

    .navbar {
        width: 327px;
        height: 32px;
        gap: 22rem;
        padding-left: 3.9rem;
        padding-top: 4.8rem;
        margin-bottom: 0;
        margin-bottom: 8rem;
    }
    
    .nav-left-ul {
        display: none;
    }

    .nav-img {
        width: 128px;
        height: 32px;
    }

    .button {
        display: none;
    }
    .navbar-hamburger {
        position: absolute;
        display: block;
        top: 0.8rem;
        right:  -19rem;
        z-index: 10;
        
    }

    .header-main-h1 {
        height: 80px;        
        font-size: 40px;
        line-height: 40px;
        text-align: center;        
    }

    .header-main-text {
        width: 325px;
        text-align: center;
        font-size: 15px;
        line-height: 28px;
        color: var(--primary-color-white);
    }

    /* SECTION-one */
    .section-one {
        padding: 6.4rem 2.4rem;
        height: 1073px;
        background-position:     
        top 0  left 260px;
    }
    .section-one-left {
        width: 240px;
    }
    .section-hr {
    }
    .section-one-left-h1 {
        font-size: 3.2rem;
        line-height: 1;
    }
    .section-one-right {
        width: 327px;
        height: 693px;
        grid-template-columns: repeat(1, 1fr);
        gap: 1.6rem;
    }
    .section-one-right-top {
    }
    .section-one-right-h1 {
        text-align: center;
        font-size: 1.8rem;
        line-height: 1.55;
    }
    .section-one-right-text {
        width: 327px;
        text-align: center;
        font-size: 1.5rem;
        line-height: 1.66;
    }
    .section-one-right-img {
        display: flex;
        justify-content: center;
    }
    .section-two { 
        height: 1440px;
        padding-top: 140px;
        padding-left: 2.4rem;
        padding-right: 2.4rem;
        background-position: 
        top left,
        bottom  left 160px;
    }
    .section-two-h1 {
        width: 327px;
        margin-bottom: 4.8rem;
        
    }
    .section-two-h1-text {
        
    }
    .section-two-wrapper {
        width: 327px;        
    }
    .section-two-wrapper-item {
        width: 327px;
    }
    .section-two-wrapper-item-text {
        width: 327px;
    }
    .section-two-wrapper-item-name {
        width: 327px;
    }
    .section-two-wrapper-item-title {
        width: 327px;
    }
    .section-two-img {
    }
    .section-two-img-link {
    }

    /* section three */

    .section-three {
        width: 375px;
        height: 302px;
    }
    .section-three-main {
        width: 327px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .section-three-h1 {
        text-align: center;
        font-size: 3.2rem;
        line-height: 1;
    }
    .section-three-btn {
    }
    .normal-state-dark-btn {
    }

    /* footer */

    .footer {
        width: 375px;
        height: 432px;
        padding: 6.6rem 2.4rem;
        grid-template-rows: repeat(15, 1fr);
    }
    .footer-one {
        height: 73px;
        grid-column: 1/13;        
        justify-self: center;
    }
    .footer-one .nav-img img {
        width: 96px;
        height: 24px;
       
        margin-bottom: 0;
    }
    
    .footer-one .nav-img {   
        display: flex;     
        margin-bottom: 0;
        justify-content: center;
        align-items: center;
    }
    .footer-one .nav-left-ul {
        grid-column: 1/12;
        grid-row: 4/6;
    }
    .nav-left-list {
    }
    .nav-left-list-link {
    }
    .footer-two {
        grid-column: 1/13;
        grid-row: 5/12;
        justify-self: center;
    }
    .footer-text {
        text-align: center;
    }
    .footer-phone {
    }
    .footer-text-link {
    }
    .footer-three {
        grid-column: 1/13;
        grid-row: 13/14;
        justify-self: center;
    }
    .footer-three-img {
    }
    .svg {
    }
    .footer-four {
        grid-column: 1/13;
        grid-row: 14/16;
        align-self: self-end;
        justify-self: center;
    }
}